$fa-font-path: "~@fortawesome/fontawesome-free/webfonts/";
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@import "~bulmaswatch/nuclear/_variables.scss";
@import '~bulma/bulma.sass';
@import "~bulmaswatch/nuclear/_overrides.scss";
@import '~bulma-tooltip/src/sass/index';

$font-heading: 'Gaegu';

.card-header,
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.menu-label,
.message-header,
.tabs,
.title {
  font-family: $font-heading;
  text-transform: uppercase;
}

.column text {
  fill: white;
}

// n is number of stars required
@function multiple-box-shadow($n) {
  $value: "#{random(2000)}px #{random(3000)}px #FFF";

  @for $i from 2 through $n {
    $value: "#{$value} , #{random(2000)}px #{random(3000)}px #FFF";
  }

  @return unquote($value);
}

$shadows-small: multiple-box-shadow(400);
$shadows-medium: multiple-box-shadow(100);
$shadows-big: multiple-box-shadow(50);

html {
  background: #080808;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 500s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    left: -2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 100s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    left: -2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 150s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    left: -2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}

@keyframes animStar {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(2000px);
  }
}

.app-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  flex-wrap: nowrap;
}

.app-content {
  flex: 1;
  padding-bottom: 90px;
}

[id^=RoughViz] {
  color: black;
}

[id^=RoughViz] div {
  background-color: cyan !important;
  border-radius: 2px !important;
  border: 1px cyan !important;
  font-weight: bold;
  font-size: 1.5rem !important;
  padding: 0.5rem 1rem !important;
}

[data-tooltip]:not(.is-loading)::before,
[data-tooltip]:not(.is-disabled)::before,
[data-tooltip]:not([disabled])::before {
  background: cyan;
  font-family: 'Gaegu';
  font-weight: bold;
  font-size: 1.5rem;
}

[data-tooltip]:not(.is-loading)::after,
[data-tooltip]:not(.is-disabled)::after,
[data-tooltip]:not([disabled])::after {
  border-color: cyan transparent transparent transparent;
}
